/* Zap's Cool Photon... Site! */
:root {
	--background-1: #f6f6f8;
	--background-2: #fefefe;
	--background-3: #e4e4e4;
	--background-4: #eaeaea;
	--background-5: #0a84ff66;

	--color-1: #0a0a0a;

	--border-1: #c0c0c0;

	--box-shadow-1: 0 4px 12px #0005;
	--box-shadow-2: 0 2px 6px #0003;
	--box-shadow-3: 0 2px 4px #0001;
}
@media (prefers-color-scheme: dark) {
	:root {
		--background-1: #0c0c0d;
		--background-2: #323234;
		--background-3: #4a4a4f;
		--background-4: #444446;
		--background-5: #0a84ffaa;
	
		--color-1: #fefefe;
	
		--border-1: #5a5a5c;
	}
}
body {
	background: var(--background-1);
	color: var(--color-1);
	margin: 0;
	font-family: 'Segoe UI', 'Lato', Tahoma, Geneva, Verdana, sans-serif;
	padding: 16px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: flex-start;
	overflow: visible;
}
#sidebar {
	display: flex;
	flex-direction: column;
	background: var(--background-2);
	border: 1px solid var(--border-1);
	border-radius: 4px;
	padding: 12px;
	box-shadow: var(--box-shadow-1);
	width: min(500px, calc(100vw - 64px));
	height: calc(100vh - 64px);
	margin-right: 16px;
}
#left {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 38px);
	overflow-y: scroll;
	border-radius: 4px;
}

/* ;( */
.img {
	background: var(--background-2);
	border: 1px solid var(--border-1);
	border-radius: 4px;
	padding: 6px;
	box-shadow: var(--box-shadow-1);
	margin-bottom: 4px;
	transition: 0.2s;
}
.img * {
	display: block;
}
.img img {
	max-width: calc(100vw - 48px);
}
#fav {
	width: 24px;
	height: 24px;
	align-self: center;
	margin-right: 8px;
}
#title {
	font-size: 20px;
	background: var(--background-3);
	border: 1px solid var(--border-1);
	border-radius: 2px;
	padding: 10px;
	box-shadow: var(--box-shadow-2);
	display: flex;
}
#title a {
	color: var(--color-1);
	font-weight: 600;
	text-decoration: none;
	margin-right: 6px;
	transition: 0.2s;
}
#title a:hover {
	font-weight: 700;
}
#includeInstallation {
	background: var(--background-4);
	border: 1px solid var(--border-1);
	border-radius: 2px;
	padding: 4px;
	box-shadow: var(--box-shadow-2);
	margin-top: 8px;
	height: 40px;
	padding-bottom: 1px;
}
#pref-list {
	background: var(--background-4);
	border: 1px solid var(--border-1);
	border-radius: 2px;
	padding: 4px;
	box-shadow: var(--box-shadow-2);
	margin-top: 8px;
	flex: 2;
}
.pref {
	padding: 4px;
	background: var(--background-3);
	border-radius: 2px;
	transition: 0.2s;
	position: relative;
}
.pref:nth-child(2n) {
	background: var(--background-4);
}
:is(#export, .pref, #includeInstallation button):hover {
	box-shadow: var(--box-shadow-2);
	z-index: 1;
}
:is(#export, .pref, #includeInstallation button):active {
	box-shadow: var(--box-shadow-3);
	translate: 0 2px;
}
.true {
	background: var(--background-5) !important;
	font-weight: 500;
}

#export {
	border-radius: 2px;
	background: #0a84ff;
	border: none;
	box-shadow: var(--box-shadow-2);
	color: #eaeaea;
	padding: 8px;
	font-size: 16px;
	transition: 0.1s;
	margin-top: 8px;
	text-decoration: none;
	text-align: center;
}
#export:hover:not(:active) {
	background: #57abff;
}
#includeInstallation button {
	border-radius: 2px;
	border: none;
	box-shadow: var(--box-shadow-2);
	color: #eaeaea;
	padding: 8px;
	font-size: 16px;
	transition: 0.1s;
	text-decoration: none;
	text-align: center;
	font-family: 'Segoe UI', 'Lato', Tahoma, Geneva, Verdana, sans-serif;
	display: flex;
	font-weight: 600;
}

button #check {
	opacity: 0;
	scale: 0.5;
	transition: 0.2s ease-in-out;
	transform-origin: 50% 50%;
	background: var(--background-4);
}
button.true #check {
	opacity: 1;
	scale: 1;
}

#check {
	align-self: center;
	margin-right: 8px;
	margin-left: 2px;
	border-radius: 2px;
	box-shadow: var(--box-shadow-3);
}